/* the points in common */
/* Police */
@font-face {
  font-family: "robotoregular";
  src: url("Roboto/Roboto-Regular-webfont.eot");
  src: url("Roboto/Roboto-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Roboto/Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto/Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand/Shrikhand-Regular.ttf");
}
/* boddy */
body {
  margin: 0px;
}

#file {
  font-family: "robotoregular";
}

/* Header */
header {
  width: 100%; /*en px*/
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header img {
  width: 30%;
  max-width: 400px;
  min-width: 200px;
}

/* Menu */

.fa-heart {
  color: #606060;
  font-size: 2.5em;
}

/* contact */
footer {
  margin-top: 0px;
  background-color: #353535;
  color: white;
  padding-bottom: 20px;
}

.fa-utensils {
  margin-right: 15px;
  font-size: 1em;
}

.fa-hands-helping {
  margin-right: 10px;
  font-size: 0.8em;
}

.contact {
  margin-left: 20px;
}

.contact--bold {
  font-weight: bold;
}

div[class="contact"] p {
  font-size: 1.1em;
}

div[class="contact"] p a:last-child {
  color: white;
  text-decoration: none;
}
/* Tablette */
@media all and (min-width: 768px) and (max-width: 991.98px) {
  /* Contact */
  footer {
    height: auto;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
  }

  .fa-utensils {
    font-size: 1em;
  }

  .fa-hands-helping {
    font-size: 1em;
  }

  div[class="contact"] p {
    font-size: 1.2em;
  }
}

/* Desktop */
@media all and (min-width: 992px) and (max-width: 1440px) {
  /* Footer */
  footer {
    height: auto;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .fa-utensils {
    font-size: 1em;
  }

  .fa-hands-helping {
    font-size: 1em;
  }

  div[class="contact"] p {
    font-size: 1.6em;
  }
}
