/* Header */
header a {
  color: #353535;
  background-color: white;
  border: none;
  position: absolute;
  left: 20px;
  font-size: 1.5em;
}

/* picture */
div[id="picture"] {
  width: 100%;
  height: 260px;
  position: relative;
  z-index: 1;
}

div[id="picture"] img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Menu */
section {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f6f6f6;
  width: 100%;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

#title__heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section h1 {
  font-family: "Shrikhand";
  margin-left: 10px;
  font-size: 2em;
}

.title--size {
  font-size: 1.6em;
}

button {
  border: none;
  background-color: #f6f6f6;
  margin-right: 10px;
}

.heart--size {
  font-size: 0.8em;
}

button:active {
  cursor: pointer;
}

article {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-bottom: 20px;
}

.article--size {
  height: 500px;
}

h2 {
  font-size: 1.3em;
  color: #1f1f1f;
}

.lin--tertiary {
  border: 2px solid #99e2d0;
  width: 50px;
  background-color: #99e2d0;
  margin-top: -30px;
}

.menu {
  background-color: white;
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px/20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu__title§ {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
}

h3 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.menu__title§__T--size {
  font-size: 1.1em;
}

.menu__title§__§ {
  margin-top: 5px;
  font-size: 1.1em;
}

.menu__§--size {
  font-size: 0.9em;
}

.menu__price {
  align-self: flex-end;
  margin-right: 15px;
  margin-bottom: 20px;
}

em {
  font-size: 1.1em;
  font-weight: bold;
  font-style: normal;
}

.btn {
  width: 100%;
  max-width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

div[class="btn"] button {
  color: white;
  background-color: #e270db;
  width: 100%;
  height: 55px;
  font-size: 1.3em;
  border-radius: 40px;
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

/* contact */

h4 {
  font-family: "Shrikhand";
  margin-left: 20px;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 1.4em;
}
