/* Police */
@font-face {
  font-family: "robotothin";
  src: url("Roboto/Roboto-Thin-webfont.eot");
  src: url("Roboto/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto/Roboto-Thin-webfont.woff2") format("woff2"),
    url("Roboto/Roboto-Thin-webfont.woff") format("woff"),
    url("Roboto/Roboto-Thin-webfont.ttf") format("truetype"),
    url("Roboto/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand/Shrikhand-Regular.ttf");
}

/* boddy */
body {
  margin: 0px;
}

#file {
  font-family: ""; /* voir quel police dans l'aceuille */
}

/* Header */
header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 6px #d9d9d9;
}

img {
  margin-left: -20px;
  width: 50%;
  height: 40px;
  font-family: "Shrikhand";
}
/* 

/* Presentation */
#container {
  border: 1px solid black;
}

#search {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.fa-map-marker-alt {
  margin-right: 10px;
}

input {
  background-color: #d9d9d9;
  border: none;
}
/*quel balise utiliser bouton formulaire ?*/

.pres {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  height: 350px;
  background-color: #f2f2f2;
}

.pres__heading {
  border: 1px solid black;
}

.pres__explication {
  border: 1px solid black;
  margin-bottom: 30px;
  margin-top: 0px;
  width: 70%;
}

.pres__btn {
  background-color: #ff79da;
  color: white;
  width: 70%;
  height: 70px;
  border-radius: 40px;
  box-shadow: 0px;
}
/* trouver un moyen de faire grandire mes textes*/
/* quel police utiliser */

/* Section Operation*/
/* quel balise utiliser pour les chiffre et carte ou boutton*/
/* comment mettre en couleur les icon*/
#opération {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
}

.opération__heading {
  margin-left: 20px;
}

.Filters {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.3);
}

.Filters:hover {
  background-color: #ff79da;
}

.Filters__numbers {
  border: 1px solid black;
  border-radius: 20px;
  margin-left: -15px;
  margin-right: 20px;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #9356dc;
}

/* Menu */
section[id="menu"] {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article {
  margin-left: 20px;
  margin-right: 20px;
  height: 300px;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.3);
}

article img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
