/* Presentation */

#search {
  box-shadow: 0px 7px 10px #d9d9d9 inset;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

form {
  display: flex;
  justify-content: center;
}

.fa-map-marker-alt {
  font-size: 1.3em;
  color: #353535;
}

input {
  background-color: #eaeaea;
  border: none;
  font-size: 1.2em;
  color: #353535;
  text-align: center;
  width: 70%;
}

.pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  background-color: #f6f6f6;
}

.pres__heading {
  width: 280px;
  font-size: 1.7em;
  font-weight: bold;
}

.pres__explication {
  border: 1px solid black;
  margin-bottom: 30px;
  margin-top: 0px;
  width: 290px;
  color: #7d7d7d;
  font-size: 1em;
}

.pres__btn {
  background-color: #e270db; /*degrader ร faire*/
  color: white;
  width: 230px;
  height: 55px;
  border-radius: 40px;
  border: none;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Section Operation*/
#operation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}

.operation__heading {
  margin-left: 20px;
  margin-top: 40px;
}

.Filters {
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  height: 80px;
}

.Filters:last-child {
  margin-bottom: 80px;
}

.Filters:hover {
  background-color: #f5edff;
}

.Filters__numbers {
  border-radius: 30px;
  margin-left: -15px;
  padding: 5px 12px 5px 12px;
  color: white;
  background-color: #9356dc;
  margin-right: 15px;
}

div[class="Filters"] i {
  color: #8d8d8d;
  margin-right: 15px;
  font-size: 1.3em;
}

.Filters:hover i {
  color: #9356dc;
}

div[class="Filters"] p {
  font-size: 1.1em;
  font-weight: bold;
}

/* in common */
h1 {
  font-size: 1.4em;
}

.Filters,
article,
.pres__btn {
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.3);
}
/* Menu */
#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1450px;
  background-color: #f6f6f6;
  margin-bottom: 0px;
}

section[id="menu"] h1 {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: -2px;
}

article {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  border-radius: 20px/20px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

article img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.title__ยง {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  margin-left: 20px;
}

h2 {
  margin-bottom: 0px;
  font-size: 1.4em;
}

h2 + p {
  margin-top: 0px;
  font-size: 1.3em;
  color: #606060;
}

article button {
  border: none;
  background-color: #f6f6f6;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

article button:active {
  cursor: pointer;
}

.menu--new {
  width: 70px;
  background-color: #99e2d0;
  color: #39a98e; /*degrader a faire comme dans le cour*/
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
/* Contact */
h3 {
  font-family: "Shrikhand";
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 20px;
  font-size: 1.4em;
}

/* tablette */

@media all and (min-width: 768px) and (max-width: 1000.99px) {
}

/* Desktop */

@media all and (min-width: 1001px) and (max-width: 1440px) {
}
